


/**
 * @para overflow [ellipse] or clip
 */
.nowrap(@overflow: ellipsis) {
	white-space: nowrap;
	text-overflow: @overflow;
}


.transition-background(@time: 300ms) {
	-webkit-transition: background-color @time linear;
	   -moz-transition: background-color @time linear;
	     -o-transition: background-color @time linear;
	    -ms-transition: background-color @time linear;
	        transition: background-color @time linear;

}