<div class="smw-page">
	<header class="bar bar-nav">
		<button class="btn pull-right" ng-click="showSidebar()"><i class="fa fa-bars"></i></button>
		<h1 class="title">{{ 'HOME_TITLE' | translate }}</h1>
	</header>
	<div class="content"></div>
	<sidebar sidebar-id="homeSidebar" position="right">
		<header class="bar bar-nav">
			<h1 class="title">{{ 'SIDEBAR_HOME' | translate }}</h1>
		</header>
		<ul class="table-view">
			<li class="table-view-cell">
				<a href="#/logout"><i class="fa fa-sign-out"> {{ 'CMD_LOGOUT' | translate }}</i></a>
			</li>
			<li class="table-view-cell">
				<a href="#/logout"><i class="fa fa-sign-out"> {{ 'CMD_LOGOUT' | translate }}</i></a>
			</li>
			<li class="table-view-cell">
				<a href="#/logout"><i class="fa fa-sign-out"> {{ 'CMD_LOGOUT' | translate }}</i></a>
			</li>
			<li class="table-view-cell">
				<a href="#/logout"><i class="fa fa-sign-out"> {{ 'CMD_LOGOUT' | translate }}</i></a>
			</li>
		</ul>
	</sidebar>
</div>