<div class="smw-page">
	<header class="bar bar-nav">
		<button class="btn pull-right">
			<i class="fa fa-database"></i>
		</button>
		<h1 class="title">{{ 'STARTUP_TITLE' | translate }}</h1>
	</header>
	<div class="content">
		<div class="content-padded smw-hero">
			<i class="fa fa-heart"></i>
			<h1>{{ 'APP_NAME' | translate}}</h1>
		</div>
		<ul class="table-view">
			<li class="table-view-cell">
				<a class="navigate-right" ng-href="#/signup">{{ 'CMD_SIGNUP' | translate }}</a>
			</li>
			<li class="table-view-cell">
				<a class="navigate-right" ng-href="#/login">{{ 'CMD_LOGIN' | translate }}</a>
			</li>
			<li class="table-view-cell">
				<a class="navigate-right" ng-href="#/about">{{ 'CMD_ABOUT' | translate }}</a>
			</li>
			<li class="table-view-cell">
				<a class="navigate-right" ng-href="#/imprint">{{ 'CMD_IMPRINT' | translate }}</a>
			</li>
			<li class="table-view-cell">
				<a class="navigate-right" href="#">{{ 'CMD_WHAT_IS_NEW' | translate }}</a>
			</li>
		</ul>
	</div>
</div>
